<a href="https://colab.research.google.com/github/sjbabdi/BiomedicalSciences/blob/main/BiomedicalSciences_Python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BIOMEDICAL SCIENCES - Python practicals 2: Intro to Programming

---

In this pratical we learn how to use FOR loops and IF statements, two essential concepts in programming. 

# 1. FOR LOOPS

## What are FOR loops?

FOR loops are useful in many circumstances. The purpose of a FOR loop is to **repeat a set of instructions**. It is useful to have the ability to tell Python to repeat an instruction without having to repeat the actual code.

For example, if we want Python to do some operation 100 times, we could either write down the code for that operation 100 times in succession, or simply use a FOR loop and write the operation only once.

Let us do a simple example. The following command tells Python to display a variable 10 times:

In [2]:
a = 3
for i in range(10):
  print(a)

3
3
3
3
3
3
3
3
3
3

In the above, we first define a variable `a` to which we assign the value `3`. Then we have a FOR loop that displays the variable `a` with the command `print`. Let us examine the syntax of this FOR loop:

In the Python language, the FOR loop always begins with the word `for`. We use indentation to indicate the code that is inside the loop. The loop ends when the indentation ends.

Just after the word `for`, we have an iterator called `i` that will take 10 values ranging from 0 to 9. This means that the FOR loop will run 10 times, each time the value of `i` is incremented by 1, starting at 0 and ending at 9.

We can actually display the value of `i` inside the loop to check that is what is happening (also, the iterator doesn't need to be called `i` so let us use, say, `j` instead):

In [3]:
for j in range(10):
  print(j)

0
1
2
3
4
5
6
7
8
9

Now what we have done so far are not very useful things to do with loops, they were just meant to introduce you to the syntax.

A more useful use of a FOR loop is to use the iterator to access a given entry of an array or a list. Let us do an example where we access entries in a list of words, e.g. calendar months. First define a variable with all the calendar months:

In [4]:
months = ['January','February','March','April','May','June','July','August','September','October','November','December']

Now we will use a FOR loop to extract the name of 'every other month' starting with January:

In [5]:
for i in range(0,12,2):
  print(months[i])

January
March
May
July
September
November

Let us understand the syntax above. In the first line of the FOR loop, we have an iterator that starts at 0, ends at 11, with a step of 2. Then inside the loop, we use the iterator value to extract the relevant calendar month.

> Why does it say `range(0,12)` but it actually goes from 0 to 11?

Let us do another where we start with December all the way down to January in steps of 3:

In [6]:
for i in range(11,0,-3):
  print(months[i])

December
September
June
March

So to summarise FOR loops so far: we can use a FOR loop to repeat an operation. The iterator takes values during these repeats; and we can use the iterator inside the FOR loop to access elements of a variable.

---

## Using FOR loops to do maths

Now let us perform actual mathematical operations inside FOR loops.
A simple example is to write a FOR loop that calculates the sum of numbers from 1 to 100. First, how can we do this without FOR loops?

A silly way would be to type out all of the numbers and add them up:

In [8]:
  total_silly=1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+16+17+18+19+20+21+22+23+24+25+26+27+28+29+30+31+32+33+34+35+36+37+38+39+40+41+42+43+44+45+46+47+48+49+50+51+52+53+54+55+56+57+58+59+60+61+62+63+64+65+66+67+68+69+70+71+72+73+74+75+76+77+78+79+80+81+82+83+84+85+86+87+88+89+90+91+92+93+94+95+96+97+98+99+100
  print(total_silly)

5050

Let's see if we can do something better with a FOR loop. 

We start by defining a variable that will store the value of the summation. Let us call it `total`, and at the start initialize it to 0. Then within each iteration of the loop we increase this variable by the value of the iterator.

Here is a 'pseudo' code for what we will be doing:

1. Set the value of `total` to be equal to 0.
2. Iterate over a variable `i` taking values from 1 to 100:
 - at each iteration, increase the value of `total` by `i`
 - store the result in the variable `total`
3. End the iterations and display the variable `total`.

And now for the actual code:

In [9]:
total = 0
for i in range(1,101):
  total = total + i
print(total)

5050

> Note: we need to use `range(1,101)` if we want `i` to reach 100

Compare `total` to `total_silly`. Same output, but much more sensible code.


> **Exercise** : Use a FOR loop to calculate the sum of all even numbers from 2 to 2022.

In [10]:
# YOUR CODE HERE

In [ ]:
#@title Possible solution
# We will use a FOR loop with an iterator that starts at 2 and ends at 2022 with steps of 2:
total = 0
for i in range(2,2023,2):
  total = total + i
print(total)

# Another possible solution that uses numpy:
from numpy import arange
total = arange(2,2023,2).sum()
print(total)

---

Using an analogous approach, we will now write a program that calculates $N!$ (factorial of $N$, or $1\times2\times3\times4\times...\timesN$) for an integer number $N$. Let's say for $N=10$.

First let us assign a value for $N$:

In [13]:
N = 10

Now we will write a for loop that calculates $N!$. For that, we first define a variable `F` and assign it the value 1, then we use a loop:

In [14]:
F = 1
for i in range(1,11):
  F = F*i
print(F)

3628800

In each iteration we multiply the current value of `F` with `i`, and assign that result to the variable `F`.

Try with different values for $N$. You should see that the result grows very quickly as $N$ gets bigger and bigger.

> **Excercise:** Calculate the value of $N!$ for all $N$ between 1 and 5 and make a plot of $N!$ as a function of $N$.

In [15]:
# YOUR CODE HERE